.playArea {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-self: center;

  .PlayBtnArea {
    margin-top: 5vw;
    margin-left: 25px;

    .boucing {
      animation: myAnim 2s linear 0s 1 normal forwards;
    }
  }

  .calculArea {
    margin-top: 7vw;
    display: flex;
    justify-content: space-between;

    .topArea {
      margin-right: 25px;

      .rightAsnwer {
        background-color: green;
      }

      .badAnswer {
        background-color: red;
      }
    }
  }

  .choiceNumberArea {
    margin-top: 7vw;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;

    .numberChoiceButton {
      margin: 10px;
    }
    .numberimage {
      margin: 5px;
      width: 150px;
      height: 180px;
      border-radius: 10px;
      background-color: rgb(63, 125, 167);
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);

      &:hover {
        background-color: var(--main-color);
      }
    }
  }
}

@keyframes myAnim {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}
