.playAreaComponent {
  display: flex;
  width: 100vw;
  align-items: center;
  // justify-content: space-between;

  .btnHomeContainer {
    position: absolute;
    top: 10vh;
    right: 10vw;
    height: 100px;
    width: 100px;

    // box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    //   inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    // border-radius: 50%;
    &:hover {
      content: url("/images/homeHover.png");
      cursor: pointer;
    }

    img {
      height: 100px;
      width: 100px;
    }
  }

  .JokerArea {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 10px;

    .jokerImageContainer {
      &:hover {
        cursor: pointer;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px;
      width: 125px;
      height: 125px;
      padding: 10px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      &:hover {
        background-color: #19667a;
      }

      .jokerImage {
        width: 80%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .Button {
      margin: 15px;
    }
  }

  .playArea {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    justify-self: center;

    .choiceBtnsize {
      min-width: 80px;
    }

    .PlayBtnArea {
      padding-top: 20vh;

      // margin-left: 25px;

      .boucing {
        animation: myAnim 2s linear 0s 1 normal forwards;
      }
    }

    .calculArea {
      margin-top: 5vh;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: space-between;

      .topArea:not(:last-child) {
        margin-right: 25px;

        .rightAsnwer {
          background-color: green;
        }

        .badAnswer {
          background-color: red;
        }
      }
    }

    #style-7::-webkit-scrollbar-track {
      // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      // background-color: #f5f5f5;
      border-radius: 10px;
    }

    #style-7::-webkit-scrollbar {
      width: 10px;
      // background-color: #f5f5f5;
    }

    #style-7::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(63, 125, 167)),
        // color-stop(0.72, rgb(11, 74, 151)),
        // color-stop(0.86, rgb(28, 58, 148))
      );
    }

    .choiceNumberAreaContainer {
      max-height: 47vh;
      min-height: 47vh;
      display: flex;
      overflow-y: scroll;
      margin-top: 6vw;
      justify-content: center;
      align-items: center;
    }

    .choiceNumberArea {
      // padding-top: 70px;
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      justify-content: center;
      align-items: center;

      .numberChoiceButton {
        margin: 10px;
      }
      .numberimage {
        &:hover {
          cursor: pointer;
        }
        filter: grayscale(15%);
        margin: 5px;
        width: 150px;
        height: 180px;
        border-radius: 10px;
        background-color: #3f7da7;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
          inset -2px -2px 3px rgba(0, 0, 0, 0.6);

        &:hover {
          background-color: var(--main-color);
        }
      }
    }
  }
}

@keyframes myAnim {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

@media screen and (max-width: 900px) {
  .playAreaComponent {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 13px;

    .btnHomeContainer {
      align-self: flex-start;
      position: initial;
      margin-bottom: 13px;
      margin-left: 25px;
      width: 100%;
      height: 50px;
      width: 50px;

      img {
        height: 50px;
        width: 50px;
      }
    }

    .JokerArea {
      flex-direction: row;
      position: initial;
      justify-content: center;

      .jokerImageContainer {
        margin: 5px;
        width: 100px;
        height: 100px;
      }
    }

    .playArea {
      margin-left: 10px;
      margin-right: 10px;
      justify-content: center;

      .choiceBtnsize {
        min-width: 70px;
      }

      .MediaQuery {
        padding-left: 30vw;
      }

      .left {
        margin-left: 7vh;
      }
      .calculArea {
        // margin-top: 8vh;
        // margin-bottom: 6vh;

        .topArea:not(:last-child) {
          margin-right: 7px;
        }
      }
      .choiceNumberArea {
        width: 100%;

        .numberimagecontainer {
          .numberimage {
            width: 90px;
            height: 105px;
          }
        }

        .numberChoiceButton {
          margin: 5px;
        }
      }
    }
  }
}
