.game1 {
        height: 100vh;
        width: 100%vh;
        background-image: url(./public/images/game1BackGround.jpg);
        background-position : center;
        background-repeat: no-repeat;
        overflow-y: hidden;
        overflow-x: hidden;
}